# Airline Customer Satisfaction Capstone
## EDA
## Notebook 1: Loading & Cleaning The Dataset
### BrainStation Data Science Bootcamp
#### By Ali Idris

In this notebook, I will:
- Explain why I am working on this project
- Explain why this project can benefit airlines
- Load and clean the dataset

***

## Notebook Contents (To complete)

Notebook Contents
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/
- /\/\/\//\\//\/\/\/\/

***

#QUE Why are the lines at different levels of faintness even though I've inputted the same '***' code?

## Introduction to the project

#### What problems do an airline face?

1: There are 5000 airlines currently operating. This means relative to other industries there has been little consolidation so competition for passangers is fierce.
2: Flyers have significant choice on which airline to fly with.
3: COVID restrictions and labour shortages have made operating airlines even more challenging.

#### Why do airlines need to know about customer satisfaction?

1: There is limited capital to invest.
2: Airlines want to know what to invest in with regards to retaining existing customers whilst attracting new ones.
3: Airlines want to know which customers to focus on.


#### What does this project aim to do?

Whether it's deciding on what refreshments to offer or how much to invest in the online booking process, this project mimicks the type of analysis a data scientist would conduct to answer these types of questions. Ultimately, the aim is to enable data driven decison making to cut costs and increase revenues.

#### Who would make use of this project?

If I was to build out this project from an MVP to a fully fledged software, it would be used by business stakeholders at airlines to input a data file full of satisfaction ratings from customers and would export:
- What to focus on in detail
- What not to focus on in detail

These insights would be communicated to senior stakeholders who would be able to make better data driven decisons.

#### Where is the data from?

This data is sourced from John.D on Kaggle: https://www.kaggle.com/datasets/johndddddd/customer-satisfaction.

The data is reportadley from an airline survery, though the exact source is not shared. 

The data was extremely easy to acquire since it was on an easy to use website (Kaggle) and was a simple one click download. I wouldn't require any data acquisiton adjustments.

This means the data suffers the general disadvantages of survery data:

1: Valuable data is missing from individuals who did not fill in the survery which could contradict our findings.

2: The data provided is what individuals believe their satisfaction to be is, but this may not represent their true satisfaction.

#TODO Can you trace down the original source of the data? Kaggle is not a source, its a repository. Make sure to expand the above into proper paragraphs.
#RES Other users have also looked into this. The exact source of the data is unknown.

#TODO Try to answer as many of the below questions as possible in this section.
#What is the goal of your project? Summarize it in one or two sentences.
#RES I think this is now done?
***
#What potential business or societal value will your project add? If you built out your project from a minimum-viable product (MVP) to a fully realized application or service, who would use it and what would the applications be?
#RES I think this is now done?
***
#What actions or next steps will your project enable once itâ€™s complete?
#RES I think this I answered this in the above questions?
***

#Have others tried to tackle this problem as well? What is the existing "state of the art" for tackling this type of problem and how does your project fit into the more broader approaches?
#RES From my research it's all done in house using general analytics software. Example: https://www.qualtrics.com/uk/customers/jetblue/. This means that my project doesn't actually have any impact since airlines already have their own solutions (which I'm sure is better than mine). I don't think I should say this right?
***

#Where is your data from? How was it acquired? Is it trustworthy? Is there anywhere it may be lacking?
#RES Nobody knows where the original source is, the author on Kaggle never provided it and has not responded to questions about it. Should I add this info?
***
#Does the data cover everything you need to answer your research question? Is there any data you wish you had to further your research?
#RES Obviously having more data and more columns of ratings/airline type (short haul, long haul), airline price (Cheap, expensive) would be useful but nothing specific. Shoudl I still say this?

***
#What is the currency of your data, (i.e. is it a snapshot, or continually being updated - daily, weekly, monthly, yearly)? Could you gather more data from the same source or similar sources to further train your model or test & validate against?
#RES As mentioned earlier I don't know the aource and the data is stagnant. This doesn't sound very good, should I reitterate this?

***
#Have you considered supplementary data sources which might add to tackling your problem, (e.g. economic indicators, weather, demographics, industry benchmarks, market research, etc.)? How would these fit in if you had time to incorporate them?
#RES Since I don't have a time aspect to the data I wouldn't be able to match it to other datasets which is a shame. Should I still say this?
***
#What quality issues did you uncover in your data? Did you have time to address all these? If you had advice to give back to the team responsible for data collection and management, what would it be?
#RES Do I answer this at the end of the capstone? I would probablby find more issues with the data as time goes on? Or should I just answer it at the very beginning?
***
#Were there any considerable challenges in either data acquisition (either finding data or scraping it) for your project? Why was this the case? What would you do differently next time, knowing what you know now? #RES I think I've done this now?

***

#### Importing libraries

These are required for me to load the dataset and do some fundamental analysis on it.

In [53]:
# Below I am importing the relavent libraries and packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Filter warnings
import warnings
warnings.filterwarnings('ignore')

#TODO Nicer to import as you go. Only take your basic libraries now, then leave the scalers and models for the next notebook. You don't need them here
#DONE
#QUE What does %matplotlib inline actually do?

***

### Loading and understanding the dataset

In this section I will be:
- reading the .csv file so I can load it into this notebook
- understanding what each column is showing

In [54]:
# Below I am setting df to our data. In my case the flle is deep within my capstone folder
os.getcwd()
df = pd.read_excel("../data/satisfaction_2015.xlsx")

#TODO: The data file doesn't seem to live in your notebook folder nor in your data folder. You should move it to the data folder and refer to it by '../data/satisfaction_2015.xlsx'. I had to manually download it from Kaggle and put it on my desktop for it to run
#DONE

In [55]:
#TODO Start each section with a short intro explaining the purpose of the section, what steps you are planning to walk through. Then finish each section with a summary of what you did, your main findings, and what your next steps are. 
#DONE

In [56]:
# Below I am looking at the first 2 rows of the dataframe
df.head(2)

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0

In [57]:
# Below I am looking at the shape of the dataframe:
df.shape
# TODO Comment. Is this a good amount for the intended analysis?
# Done (but this is in the summary of this section, is that ok?)

(129880, 24)

In [58]:
# Below I am looking at the using the built in 'info()' function to identify the datatype of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [59]:
print("-------------------------------------------------------------------")
print(f"The unique values for 'id' are:")
print("\n")
print(df['id'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'satisfaction_v2' are:")
print("\n")
print(df['satisfaction_v2'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Gender' are:")
print("\n")
print(df['Gender'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Customer Type 'are:")
print("\n")
print(df['Customer Type'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Age 'are:")
print("\n")
print(df['Age'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Type of Travel'are:")
print("\n")
print(df['Type of Travel'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Class'are:")
print("\n")
print(df['Class'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Flight Distance'are:")
print("\n")
print(df['Flight Distance'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Inflight wifi' service'are:")
print("\n")
print(df['Inflight wifi service'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Departure/Arrival' are:")
print("\n")
print(df['Departure/Arrival time convenient'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Ease of Online booking'are:")
print("\n")
print(df['Ease of Online booking'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Gate location' are:")
print("\n")
print(df['Gate location'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Food and drink' are:")
print("\n")
print(df['Food and drink'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Online boarding' are:")
print("\n")
print(df['Online boarding'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Seat comfort' are:")
print("\n")
print(df['Seat comfort'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Inflight entertainment' are:")
print("\n")
print(df['Inflight entertainment'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'On-board service' are:")
print("\n")
print(df['On-board service'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Leg room service' are:")
print("\n")
print(df['Leg room service'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Baggage handling' are:")
print("\n")
print(df['Baggage handling'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Checkin service' are:")
print("\n")
print(df['Checkin service'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Inflight service' are:")
print("\n")
print(df['Inflight service'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Cleanliness' are:")
print("\n")
print(df['Cleanliness'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Departure Delay in Minutes' are:")
print("\n")
print(df['Departure Delay in Minutes'].value_counts())
print("-------------------------------------------------------------------")
print(f"The unique values for 'Arrival Delay in Minutes' are:")
print("\n")
print(df['Arrival Delay in Minutes'].value_counts())
print("-------------------------------------------------------------------")

-------------------------------------------------------------------
The unique values for 'id' are:


117135    1
46894     1
25951     1
70649     1
7867      1
         ..
122500    1
75752     1
111660    1
41558     1
10198     1
Name: id, Length: 129880, dtype: int64
-------------------------------------------------------------------
The unique values for 'satisfaction_v2' are:


neutral or dissatisfied    73452
satisfied                  56428
Name: satisfaction_v2, dtype: int64
-------------------------------------------------------------------
The unique values for 'Gender' are:


Female    65899
Male      63981
Name: Gender, dtype: int64
-------------------------------------------------------------------
The unique values for 'Customer Type 'are:


Loyal Customer       106100
disloyal Customer     23780
Name: Customer Type, dtype: int64
-------------------------------------------------------------------
The unique values for 'Age 'are:


39    3692
25    3511
40    3209
44    3104
41    3089
      ...
74      61
76      60
79      52
78      44
85      25
Name: Age, Length: 75, dtype: int64
-------------------------------------------------------------------
The unique values for 'Type of Travel'are:


Business travel    89693
Personal Travel    40187
Name: Type of Travel, dtype: int64
-------------------------------------------------------------------
The unique values for 'Class'are:


Business    62160
Eco         58309
Eco Plus     9411
Name: Class, dtype: int64
-------------------------------------------------------------------
The unique values for 'Flight Distance'are:


337     841
594     505
404     480
862     473
2475    470
       ...
1441      1
1094      1
1316      1
1279      1
3564      1
Name: Flight Distance, Length: 3821, dtype: int64
-------------------------------------------------------------------
The unique values for 'Inflight wifi' service'are:


2    32320
3    32185
4    24775
1    22328
5    14356
0     3916
Name: Inflight wifi service, dtype: int64
-------------------------------------------------------------------
The unique values for 'Departure/Arrival' are:


4    31880
5    27998
3    22378
2    21534
1    19409
0     6681
Name: Departure/Arrival time convenient, dtype: int64
-------------------------------------------------------------------
The unique values for 'Ease of Online booking'are:


3    30393
2    30051
4    24444
1    21886
5    17424
0     5682
Name: Ease of Online booking, dtype: int64
-------------------------------------------------------------------
The unique values for 'Gate location' are:


3    35717
4    30466
2    24296
1    21991
5    17409
0        1
Name: Gate location, dtype: int64
-------------------------------------------------------------------
The unique values for 'Food and drink' are:


4    30563
5    27957
3    27794
2    27383
1    16051
0      132
Name: Food and drink, dtype: int64
-------------------------------------------------------------------
The unique values for 'Online boarding' are:


4    38468
3    27117
5    26020
2    21934
1    13261
0     3080
Name: Online boarding, dtype: int64
-------------------------------------------------------------------
The unique values for 'Seat comfort' are:


4    39756
5    33158
3    23328
2    18529
1    15108
0        1
Name: Seat comfort, dtype: int64
-------------------------------------------------------------------
The unique values for 'Inflight entertainment' are:


4    36791
5    31544
3    23884
2    21968
1    15675
0       18
Name: Inflight entertainment, dtype: int64
-------------------------------------------------------------------
The unique values for 'On-board service' are:


4    38703
5    29492
3    28542
2    18351
1    14787
0        5
Name: On-board service, dtype: int64
-------------------------------------------------------------------
The unique values for 'Leg room service' are:


4    35886
5    30905
3    25056
2    24540
1    12895
0      598
Name: Leg room service, dtype: int64
-------------------------------------------------------------------
The unique values for 'Baggage handling' are:


4    46761
5    33878
3    25851
2    14362
1     9028
Name: Baggage handling, dtype: int64
-------------------------------------------------------------------
The unique values for 'Checkin service' are:


4    36333
3    35453
5    25883
1    16108
2    16102
0        1
Name: Checkin service, dtype: int64
-------------------------------------------------------------------
The unique values for 'Inflight service' are:


4    47323
5    34066
3    25316
2    14308
1     8862
0        5
Name: Inflight service, dtype: int64
-------------------------------------------------------------------
The unique values for 'Cleanliness' are:


4    33969
3    30639
5    28416
2    20113
1    16729
0       14
Name: Cleanliness, dtype: int64
-------------------------------------------------------------------
The unique values for 'Departure Delay in Minutes' are:


0       73356
1        3682
2        2855
3        2535
4        2309
        ...
314         1
1592        1
566         1
921         1
320         1
Name: Departure Delay in Minutes, Length: 466, dtype: int64
-------------------------------------------------------------------
The unique values for 'Arrival Delay in Minutes' are:


0.0      72753
1.0       2747
2.0       2587
3.0       2442
4.0       2373
         ...
443.0        1
418.0        1
608.0        1
429.0        1
500.0        1
Name: Arrival Delay in Minutes, Length: 472, dtype: int64
-------------------------------------------------------------------

Now I can create a data dictionary.

#### Data Description v1

Categorical Columns:
- `satisfaction_v2` --> This is our target feature. It is whether or not a customer was satisfied
- `Gender` --> This shows whether or not the customer was male or female
- `Type of Travel` --> This shows whether or not the customer travelled for business or personal travel
- `Class` --> This is the type of class the customer flew in (Eco, Eco Plus, Business)
- `Gate location` --> This is the satisfaction rating of gate location

Numerical Column With No Range Limit:
- `Age` --> This is the age of the customer
- `Flight Distance` --> This is the flight distance in miles
- `Gate location` --> This is the satisfaction rating of gate location
- `Departure Delay in Minutes` --> This is the numnber of minutes the flight was delayed at departure
- `Arrival Delay in Minutes` --> This is the numnber of minutes the flight was delayed at arrival to destination

Numerical Column Rating 0 - 5:
- `Inflight wifi` --> This is the satisfaction rating of the inflight wifi
- `Departure/Arrival time` --> This is the satisfaction rating of the inflight wifi
- `Ease of Online booking` --> This is the satisfaction rating of the online booking process
- `Food and drink` --> This is the satisfaction rating of the food and drink offered in flight
- `Online boarding` --> This is the satisfaction rating of the online boarding
- `Seat comfort` --> This is the satisfaction rating of the inflight seats
- `Inflight entertainment` --> This is the satisfaction rating of the inflight entertainment
- `On-board service` --> This is the satisfaction rating of onboard service
- `Baggage handling` --> This is the satisfaction rating of baggage handling
- `Checkin service` --> This is the satisfaction rating of the checkin service
- `Leg room service` --> This is the satisfaction rating of inflight leg room
- `Inflight service` --> This is the satisfaction rating of the inflight service
- `Cleanliness` --> This is the satisfaction rating of how clean the aeroplane

##### Summary of Loading and understanding the dataset section

In this section I:

1: loaded in the dataset
- found the dataset had 24 columns and ~130,000 rows. Having a larger number of rows would make our models more accurate but 130,000 rows is satisfactory for this initial project

2: looked at thew data types of each column
- they all seem to be correct except for 'Arrival Delay in Minutes' which could be changed from float to int

3: looked at the contents of each column
- this gives me an fundamental understanding of what each column is showing but I will need to explore further in the EDA notebook

4: created an initial data dictionary
- you can refer to this dictionary if you want clarification on what each column is showing for now. We will be creating a new data dictionary once we rename columns and potneitallty drop columns.

***

### Cleaning the dataset & renaming columns

In this section I will be:
- dealing with null values or missing rows
- appropriately renaming columns

In [60]:
#TODO Consider putting your data dictionary straight here at the top, or at least giving a bit of an overview and discussion of your variabled. 
# Done

#### Removing Missing/Null Values

In [61]:
#TODO Start each section with a short intro explaining the purpose of the section, what steps you are planning to walk through. Then finish each section with a summary of what you did, your main findings, and what your next steps are. 
# Done

In [62]:
# Below i am identifying if any columns have any null values
df_nulls = df.isna().any()
df_nulls.value_counts()

False    23
True      1
dtype: int64

In [63]:
# Below I am identifying the % of null values in each column
df.isnull().sum()/len(df)

id                                   0.000000
satisfaction_v2                      0.000000
Gender                               0.000000
Customer Type                        0.000000
Age                                  0.000000
Type of Travel                       0.000000
Class                                0.000000
Flight Distance                      0.000000
Inflight wifi service                0.000000
Departure/Arrival time convenient    0.000000
Ease of Online booking               0.000000
Gate location                        0.000000
Food and drink                       0.000000
Online boarding                      0.000000
Seat comfort                         0.000000
Inflight entertainment               0.000000
On-board service                     0.000000
Leg room service                     0.000000
Baggage handling                     0.000000
Checkin service                      0.000000
Inflight service                     0.000000
Cleanliness                          0.000000
Departure Delay in Minutes           0.000000
Arrival Delay in Minutes             0.003026
dtype: float64

After checking if *any* columns had null values, I looked at the normalised proportions of missing values by column as shown above. I see that only 'Arrival Delay in Minutes' contains a small % (less than 1%) of null values. We can look at the rows in question as shown below:


#TODO Describe and Discuss everything you output: "The above shows the normalised proportions of missing values by column. We can see that only Arrival Delay contains missing values, in about X% of its rows. We will see in the next notebook, ....."

#TODO suffers from multicollinearity with what other column? What is multicollinearity and why does it mean that we should drop the column?

In [64]:
# Below I am identifying the rows which have null values
df[df['Arrival Delay in Minutes'].isnull()]

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
194,44820,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,491,5,4,...,3,3,1,4,3,3,4,3,0,NaN
197,46936,satisfied,Female,disloyal Customer,63,Personal Travel,Eco,776,5,5,...,3,3,5,2,5,3,5,3,7,NaN
351,61021,satisfied,Female,Loyal Customer,21,Personal Travel,Eco,3365,0,2,...,5,5,4,1,4,2,3,5,20,NaN
452,40480,satisfied,Male,Loyal Customer,28,Personal Travel,Eco,222,0,3,...,4,2,1,1,3,4,3,2,0,NaN
916,19597,satisfied,Male,Loyal Customer,28,Personal Travel,Eco,173,0,5,...,5,5,4,4,5,3,4,5,24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127457,125075,satisfied,Female,Loyal Customer,41,Business travel,Business,3758,1,1,...,5,5,5,5,5,4,5,5,23,NaN
127658,75644,satisfied,Female,Loyal Customer,60,Business travel,Business,3041,3,3,...,4,5,5,5,5,4,5,3,0,NaN
127945,40434,satisfied,Male,Loyal Customer,44,Business travel,Business,3383,2,2,...,4,5,5,5,5,5,5,4,70,NaN
128337,120101,satisfied,Male,Loyal Customer,39,Business travel,Business,1576,4,4,...,5,5,5,5,5,3,5,5,0,NaN
128916,45676,satisfied,Female,Loyal Customer,45,Business travel,Eco,826,5,1,...,2,5,5,5,5,1,5,5,100,NaN

We will see in the EDA notebook that the 'Arrival Delay in Minutes' and 'Departure Delay in Minutes' are heavily correlated. This is referred to as 'multicollinearity', where one columns correlates with another column that is â€¢â€¢notâ€¢â€¢ the target column. This is an issue because:

- It becomes harder to interpret your coefficients 
- The model will struggle to identify independant variables that are statistically significant, which reduces the model's power

As a result, we will look to remove 'Arrival Delay in Minutes' in the EDA notebook, but for now we will leave the column as is.

We could also look at the median ratio between both the ''Arrival Delay in Minutes' and 'Departure Delay in Minutes', and fill the null cells by using the following 'formula':

***arrival delay missing values = departure delay / median ratio between both the ''Arrival Delay in Minutes' and 'Departure Delay in Minutes'***

But as mentioned the column will be removed in a later notebook.

##### Summary of Loading and understanding the dataset section

In this section I:

1: loaded in the dataset
- found the dataset had 24 columns and ~130,000 rows. Having a larger number of rows would make our models more accurate but 130,000 rows is satisfactory for this initial project

2: looked at thew data types of each column
- they all seem to be correct except for 'Arrival Delay in Minutes' which could be changed from float to int

3: looked at the contents of each column
- this gives me an fundamental understanding of what each column is showing but I will need to explore further in the EDA notebook

4: created an initial data dictionary
- you can refer to this dictionary if you want clarification on what each column is showing for now. We will be creating a new data dictionary once we rename columns and potneitallty drop columns.

In [65]:
#TODO they are something you can fix. You don't have to do it here, but consider talking through how you would go about filling the missing values based on another column.

#Done

***

### Removing duplicate rows, analysing data types, renaming columns & exporting the final dataframe

In this section I will be:
- removing any duplicate rows
- analysing the data types of each column and making appropriate adjustments if required
- investigating categorical column values and making appropriate adjustments if required
- renaming columns appropriately
- exporting our final dataframe as a .csv that we can use in our next EDA notebook

#### Removing Duplicated Values

In [66]:
# Below I am checking for any duplicated rows
df.duplicated().sum()

0

Above we see that there are 0 duplicated rows in our dataframe. This means there is nothing else to clean or fix here.

In [67]:
#TODO Comment
# Done

#### Analysing Column Data Types

We need to understand what each column is showing. We can look at the datatype of each column:

In [68]:
# Below I am looking at the using the built in 'info()' function to identify the datatype of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

**Data Type Analysis**

The majority of data types are 'int' which makes sense since the majority of columns are numerical. The 'Arrival Delay in Minutes' is an anomoly though, because it's in a float data type. Before changing this column to an 'int' data type I will need to confirm if every row contains an integer.

The remaining columns are all categorical columns with text. In a later notebook we will convert these columns to binary columns; which would be numerical. But for now, we should change the data type of these categorical colums to 'category'.

In [69]:
df['satisfaction_v2'] = df['satisfaction_v2'].astype('category')
df['Gender'] = df['Gender'].astype('category')
df['Customer Type'] = df['Customer Type'].astype('category')
df['Type of Travel'] = df['Type of Travel'].astype('category')
df['Class'] = df['Class'].astype('category')

In [70]:
# Below I am sanity checking that the data types of the specified columns have been altered correctly
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  category
 2   Gender                             129880 non-null  category
 3   Customer Type                      129880 non-null  category
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  category
 6   Class                              129880 non-null  category
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: category(5), float64(1), int64(18)
memory usage: 19.4 MB

In [71]:
#TODO What data types do you have? Do they make sense? Are these the types that you want or will you have to change some?
#DONE

In [72]:
# Below I am checking the sum of 'Arrival Delay in Minutes'
df['Arrival Delay in Minutes'].sum()

1954105.0

We can see that the sum of 'Arrival Delay in Minutes' is a whole number, which means it can be stored as an int data type.

#TODO Just because the sum adds up to a whole number doesn't mean all entries are integers. What other way is there for you to check?
#RES I completely see this now. Though I don't know how else I would test this. I tried googling but a lot of the answers were just testing the data type.

#QUE Because I left the null values as is, I'm not able ot change the data type of the column. How should i move forward regarding this.

In [73]:
# Below I am changing the the 'Arrival Delay in Minutes' column to the int datatype
df['Arrival Delay in Minutes'] = df['Arrival Delay in Minutes'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
#TODO Finish the section with a summary and final comments about the data types. 
# RES I WIll add this to the summary of this section further down?

#### Investigating Column Values

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  category
 2   Gender                             129880 non-null  category
 3   Customer Type                      129880 non-null  category
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  category
 6   Class                              129880 non-null  category
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: category(5), float64(1), int64(18)
memory usage: 19.4 MB

I need to ensure that the categorical columns contain only 2 options.

These options need to be spelt correctly (no typos). Also I need to investigate any column with more than 2 unique options to ensure there are not unusual values or errors in the data. 

The columns in question are:
- satisfaction_v2
- Gender
- Customer Type
- Type of Travel
- Class

I will carry out these checks below.

In [74]:
print("-------------------------------------------------------------------")
print(f"There are {df['satisfaction_v2'].nunique()} unique values for 'satisfaction_v2'. They are:")
print("\n")
print(df['satisfaction_v2'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Gender'].nunique()} unique values for 'Gender'. They are:")
print("\n")
print(df['Gender'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Customer Type'].nunique()} unique values for 'Customer Type'. They are:")
print("\n")
print(df['Customer Type'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Type of Travel'].nunique()} unique values for 'Type of Travel'. They are:")
print("\n")
print(df['Type of Travel'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Class'].nunique()} unique values for 'Class'. They are:")
print("\n")
print(df['Class'].value_counts())

-------------------------------------------------------------------
There are 2 unique values for 'satisfaction_v2'. They are:


neutral or dissatisfied    73452
satisfied                  56428
Name: satisfaction_v2, dtype: int64
-------------------------------------------------------------------
There are 2 unique values for 'Gender'. They are:


Female    65899
Male      63981
Name: Gender, dtype: int64
-------------------------------------------------------------------
There are 2 unique values for 'Customer Type'. They are:


Loyal Customer       106100
disloyal Customer     23780
Name: Customer Type, dtype: int64
-------------------------------------------------------------------
There are 2 unique values for 'Type of Travel'. They are:


Business travel    89693
Personal Travel    40187
Name: Type of Travel, dtype: int64
-------------------------------------------------------------------
There are 3 unique values for 'Class'. They are:


Business    62160
Eco         58309
Eco Plus     9411
Name: Class, dtype: int64

After analysing each of the categorical columns we can see that:

1: There are no spelling errors, but in same cases one option has a capital letter and another doesn't. This will be fixed. I will make each option start with a capital letter.
- For example in 'Customer Type' there is one option : "Loyal Customer" and another which is "disloyal Customer"

2: In the 'satisfaction_v2' column, the second option is 'satisfied'. The first option can be simplified to 'Dissatisfied' instead of 'neutral or dissatisfied' which is unnecessarily long

3: The 'Class' column has 3 unique options, but upon further inspection this makes sense. Some flights offer premmium economy/economy plus. We will investigate this column further in the EDA notebook but for now we can leave the column with 3 options. However, having 'Business' and then 'Eco' doesn't flow well, we can change the instances of 'Eco' to 'Economy'

4: In general, I can simplify our categorical values. This makes it easier to read and reduces the exported .csv file size. 

Please see this cleaning process below:

In [75]:
df['satisfaction_v2'] = df['satisfaction_v2'].cat.rename_categories({'neutral or dissatisfied': 'Dissatisfied', 'satisfied': 'Satisfied'})
df['Customer Type'] = df['Customer Type'].cat.rename_categories({'Loyal Customer': 'Loyal', 'disloyal Customer': 'Disloyal'})
df['Type of Travel'] = df['Type of Travel'].cat.rename_categories({'Business travel': 'Business', 'Personal Travel': 'Personal'})
df['Class'] = df['Class'].cat.rename_categories({'Eco': 'Economy', 'Eco Plus': 'Economy Plus'})

In [76]:
# Below I am sanity checking that the categorical column values were changed correctly
print("-------------------------------------------------------------------")
print(f"There are {df['satisfaction_v2'].nunique()} unique values for 'satisfaction_v2'. They are:")
print("\n")
print(df['satisfaction_v2'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Gender'].nunique()} unique values for 'Gender'. They are:")
print("\n")
print(df['Gender'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Customer Type'].nunique()} unique values for 'Customer Type'. They are:")
print("\n")
print(df['Customer Type'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Type of Travel'].nunique()} unique values for 'Type of Travel'. They are:")
print("\n")
print(df['Type of Travel'].value_counts())
print("-------------------------------------------------------------------")
print(f"There are {df['Class'].nunique()} unique values for 'Class'. They are:")
print("\n")
print(df['Class'].value_counts())

-------------------------------------------------------------------
There are 2 unique values for 'satisfaction_v2'. They are:


Dissatisfied    73452
Satisfied       56428
Name: satisfaction_v2, dtype: int64
-------------------------------------------------------------------
There are 2 unique values for 'Gender'. They are:


Female    65899
Male      63981
Name: Gender, dtype: int64
-------------------------------------------------------------------
There are 2 unique values for 'Customer Type'. They are:


Loyal       106100
Disloyal     23780
Name: Customer Type, dtype: int64
-------------------------------------------------------------------
There are 2 unique values for 'Type of Travel'. They are:


Business    89693
Personal    40187
Name: Type of Travel, dtype: int64
-------------------------------------------------------------------
There are 3 unique values for 'Class'. They are:


Business        62160
Economy         58309
Economy Plus     9411
Name: Class, dtype: int64

In [78]:
#TODO comment on whether there are any unusual values in the columns, any typos, anything that needs reformatting, ...
#DONE

#### Renaming columns

These column names need to be optimised, so they best describe what they are showing.

In [43]:
# Below I'm changing the name of specific columnns
df.rename(columns = {'satisfaction_v2' : 'satisfaction_target'}, inplace=True)
df.rename(columns = {'Gender': 'customer_gender'}, inplace=True)
df.rename(columns = { 'Customer Type' : 'customer_loyalty_type'}, inplace=True)
df.rename(columns = {'Age': 'customer_age'}, inplace=True)
df.rename(columns = {'Type of Travel' : 'customer_travel_type'}, inplace=True)
df.rename(columns = {'Class' : 'customer_class_type'}, inplace=True)
df.rename(columns = {'Flight Distance' : 'flight_distance'}, inplace=True)
df.rename(columns = {'Inflight wifi service' : 'flight_wifi_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Departure/Arrival time convenient' : 'departure/arrival_time_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Ease of Online booking' : 'online_booking_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Gate location' : 'gate_location_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Food and drink' : 'food/drink_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Online boarding' : 'online_boarding_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Seat comfort' : 'seat_comfort_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Inflight entertainment' : 'inflight_entertainment_satisfaction_rating'}, inplace=True)
df.rename(columns = {'On-board service' : 'onboard_service_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Leg room service' : 'leg_room_n_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Baggage handling' : 'baggage_handling_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Checkin service' : 'checkin_service_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Inflight service' : 'inflight_service_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Cleanliness' : 'cleanliness_satisfaction_rating'}, inplace=True)
df.rename(columns = {'Departure Delay in Minutes' : 'departure_delay_in_minutes'}, inplace=True)
df.rename(columns = {'Arrival Delay in Minutes' : 'arrival_delay_in_minutes'}, inplace=True)

In [44]:
# Below I am sanity checking that the column names have been changed correctly
df.head(2)

,id,satisfaction_target,customer_gender,customer_loyalty_type,customer_age,customer_travel_type,customer_class_type,flight_distance,flight_wifi_satisfaction_rating,departure/arrival_time_satisfaction_rating,...,seat_comfort_satisfaction_rating,inflight_entertainment_satisfaction_rating,onboard_service_satisfaction_rating,leg_room_n_satisfaction_rating,baggage_handling_satisfaction_rating,checkin_service_satisfaction_rating,inflight_service_satisfaction_rating,cleanliness_satisfaction_rating,departure_delay_in_minutes,arrival_delay_in_minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0

#### Exporting the final dataframe to a .csv file

In [45]:
# Below I am exporting the dataframe 'df' to a .csv file i
df.to_csv('../data/cleaned_airlines.csv')

##### Summary of Loading and understanding the dataset section

In this section I:

1: loaded in the dataset
- found the dataset had 24 columns and ~130,000 rows. Having a larger number of rows would make our models more accurate but 130,000 rows is satisfactory for this initial project

2: looked at thew data types of each column
- they all seem to be correct except for 'Arrival Delay in Minutes' which could be changed from float to int

3: looked at the contents of each column
- this gives me an fundamental understanding of what each column is showing but I will need to explore further in the EDA notebook

4: created an initial data dictionary
- you can refer to this dictionary if you want clarification on what each column is showing for now. We will be creating a new data dictionary once we rename columns and potneitallty drop columns.

In [46]:
#TODO Finish the notebook with a summary of what you did, what you have learned about your data, and what your next steps are.