In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Filter warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Below I am setting 'df' to our cleaned airline dataset & viewing the first 2 rows
df = pd.read_csv('../data/cleaned_airlines.csv')
df.head(2)

,Unnamed: 0,id,satisfaction_target,customer_gender,customer_loyalty_type,customer_age,customer_travel_type,customer_class_type,flight_distance,flight_wifi_satisfaction_rating,...,seat_comfort_satisfaction_rating,inflight_entertainment_satisfaction_rating,onboard_service_satisfaction_rating,leg_room_satisfaction_rating,baggage_handling_satisfaction_rating,checkin_service_satisfaction_rating,inflight_service_satisfaction_rating,cleanliness_satisfaction_rating,departure_delay_in_minutes,arrival_delay_in_minutes
0,0,117135,Satisfied,Male,Disloyal,56,Personal,Economy,369,0,...,3,3,1,5,3,3,4,3,0,0.0
1,1,72091,Satisfied,Male,Disloyal,49,Personal,Economy,2486,0,...,3,2,1,1,4,4,3,2,0,0.0

In [4]:
df = df.drop('Unnamed: 0', axis=1)
df= df.drop('id', axis=1)

In [5]:
df.head(2)

,satisfaction_target,customer_gender,customer_loyalty_type,customer_age,customer_travel_type,customer_class_type,flight_distance,flight_wifi_satisfaction_rating,departure/arrival_time_satisfaction_rating,online_booking_satisfaction_rating,...,seat_comfort_satisfaction_rating,inflight_entertainment_satisfaction_rating,onboard_service_satisfaction_rating,leg_room_satisfaction_rating,baggage_handling_satisfaction_rating,checkin_service_satisfaction_rating,inflight_service_satisfaction_rating,cleanliness_satisfaction_rating,departure_delay_in_minutes,arrival_delay_in_minutes
0,Satisfied,Male,Disloyal,56,Personal,Economy,369,0,2,0,...,3,3,1,5,3,3,4,3,0,0.0
1,Satisfied,Male,Disloyal,49,Personal,Economy,2486,0,2,1,...,3,2,1,1,4,4,3,2,0,0.0

In [8]:
gender_dummies = pd.get_dummies(df.satisfaction_target,  prefix = 'satisfaction_target').iloc[:,1:]
df = pd.concat([df, gender_dummies], axis=1)

gender_dummies = pd.get_dummies(df.customer_gender,  prefix = 'customer_gender').iloc[:,1:]
df = pd.concat([df, gender_dummies], axis=1)

gender_dummies = pd.get_dummies(df.customer_loyalty_type,  prefix = 'customer_loyalty_type').iloc[:,1:]
df = pd.concat([df, gender_dummies], axis=1)

gender_dummies = pd.get_dummies(df.customer_travel_type,  prefix = 'customer_travel_type').iloc[:,1:]
df = pd.concat([df, gender_dummies], axis=1)

gender_dummies = pd.get_dummies(df.customer_class_type,  prefix = 'customer_class_type').iloc[:,1:]
df = pd.concat([df, gender_dummies], axis=1)

In [9]:
df.head(2)

,satisfaction_target,customer_gender,customer_loyalty_type,customer_age,customer_travel_type,customer_class_type,flight_distance,flight_wifi_satisfaction_rating,departure/arrival_time_satisfaction_rating,online_booking_satisfaction_rating,...,inflight_service_satisfaction_rating,cleanliness_satisfaction_rating,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction_target_Satisfied,customer_gender_Male,customer_loyalty_type_Loyal,customer_travel_type_Personal,customer_class_type_Economy,customer_class_type_Economy Plus
0,Satisfied,Male,Disloyal,56,Personal,Economy,369,0,2,0,...,4,3,0,0.0,1,1,0,1,1,0
1,Satisfied,Male,Disloyal,49,Personal,Economy,2486,0,2,1,...,3,2,0,0.0,1,1,0,1,1,0

In [10]:
df = df.drop('satisfaction_target', axis=1)
df= df.drop('customer_gender', axis=1)
df = df.drop('customer_loyalty_type', axis=1)
df = df.drop('customer_travel_type', axis=1)
df= df.drop('customer_class_type', axis=1)

In [11]:
df.head(2)

,customer_age,flight_distance,flight_wifi_satisfaction_rating,departure/arrival_time_satisfaction_rating,online_booking_satisfaction_rating,gate_location_satisfaction_rating,food/drink_satisfaction_rating,online_boarding_satisfaction_rating,seat_comfort_satisfaction_rating,inflight_entertainment_satisfaction_rating,...,inflight_service_satisfaction_rating,cleanliness_satisfaction_rating,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction_target_Satisfied,customer_gender_Male,customer_loyalty_type_Loyal,customer_travel_type_Personal,customer_class_type_Economy,customer_class_type_Economy Plus
0,56,369,0,2,0,4,3,0,3,3,...,4,3,0,0.0,1,1,0,1,1,0
1,49,2486,0,2,1,4,2,1,3,2,...,3,2,0,0.0,1,1,0,1,1,0

In [13]:
df.shape

(129880, 24)

In [30]:
df.to_csv('../data/very_train_cleaned_airlines.csv')

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
# Below I am setting our train dataset target y to 'rating'
y = df['satisfaction_target_Satisfied']

# Below I am setting our train dataset data to every column besides 'rating'
X = df.drop('satisfaction_target_Satisfied', axis = 1)

In [21]:
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size = 0.3,
            random_state=1)

In [26]:
X_train.shape

(90916, 23)

In [27]:
X_test.shape

(38964, 23)

In [28]:
X_train.to_csv('../data/train_cleaned_airlines.csv')

In [29]:
X_test.to_csv('../data/test_cleaned_airlines.csv')